body {
  background-image: url(http://wallpapers-best.com/uploads/posts/2015-10/1_larry_bird.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 2px 2px 2px rgba(96, 96, 96, 1);
}
ul{
  list-style: none;
}
